body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #555555;
  /*margin:10px;*/
  padding: 10px;
}
.header {
  border: 2px solid #555555;
  /*margin: auto;*/
  padding: 10px;
}

.table {
  /*border: 2px solid #555555;*/
  margin: auto;
  padding: 10px;
}

.table_title {
  /*display:inline;*/
  text-align: center;
}
.footer {
  /*border: 2px solid #555555;*/
  margin: auto;
  padding: 10px;
}

.form {
  /*border: 2px solid #555555;*/
  margin: auto;
  padding: 10px;
}

.selected {
  background-color: #33f6ff;
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
  font-size: 14pt;
}

.navbar .nav-link {
  font-weight: bold;
  transition: all 0.2s;
}

.navbar .nav-link:hover {
  color: #002e6d !important;
  /*background-color: #ecefff;
 border-radius: 20px;*/
}

.navbar .logo-container {
  background: url(../img/instaBg.svg);
  margin-top: -23px;
  margin-bottom: -20px;
  height: 79px;
  width: 145px;
  background-size: 100% 100%;

  text-align: center;
  /*transform: scale(1.5);*/
  /* padding-bottom: 20px; */
  padding: 0px 9px;
  transition: all 0.5s ease-in;
}

.navigation {
  padding-top: 36px;
  background-color: #002e6d;
}

.navbar .logo-container > img {
  width: 100%;
}

.navbar .logo-container:hover {
  transform: scale(1.5);
}
.btn {
  background-color: rgb(126, 174, 219);
  color: white;
  width: 100 px;
}
.btn:hover {
  background-color: #008fc3;
  color: #002e6d;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: 4px;
}
